*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    flex-direction: column;
    background-color: linear-gradient(#0000ff,#008000 50%, #90ee90 60%, #8fbc8f);
}
header, footer{
    height: 100px;
    color: #FFFFFF;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: green;

}
main{
    flex-grow: 1;
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
}
header{
    height: 100px;
    display: grid;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    padding-left: 75px;
    justify-content: flex-start;
}
header span{
    font-weight: 600;
}
main{
    flex-grow: 1;
    display: grid;
    justify-content: center;
    align-items: center;
}
.background-logo{
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content-text{
    position: absolute;
    color: #FFFFFF;
    font-size: 2.5rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: end;
}
.content-image{
    height: 65vh;
}
footer{
    height: 100px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding-right: 75px;
    padding-left: 75px;
    color: #FFFFFF;
    font-weight: 100;
}
footer div{
    width: 64px;
}
@media (max-widht:768px){
    header{
        padding-left: 25px;
    }
.content-text{
    transform: translateX(0%);
    top: 80px;
    font-size: 1rem;
    width: 100px;
    text-align: center;
}
.content-image{
    height: 70vh;
}
footer{
    padding: 0 25px;
}
}
a{
    color: #FFFFFF;
}
